<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="logo_portal">
      <img src="assets/images/tuportal.png" alt="Tu Portal">
  </div> 

  <div class="box_cotizador">
    <ion-grid>
      <ion-row>
        <ion-col width-10>
            <ion-icon name="cart" class="icon_box"></ion-icon>
        </ion-col>
        <ion-col width-90>
            <p class="p_box">COTIZADOR <br> DE FAMILIARES </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<ion-list radio-group class="lista_gris">

  <ion-list-header>
    <h1 class="titulo">TIPO DE TARIFA</h1>
  </ion-list-header>

  <ion-item-group *ngFor="let item of Tarifas" class="{{ ! lista_estado[item.id] ? 'selec_tarifa' : 'no_selec_tarifa' }}">

    <ion-item-divider text-left (click)="toggle(item, $event)" >
      {{item.Tarifa | uppercase}}
      <ion-icon name="{{ lista_estado[item.id] ? 'arrow-dropdown' : 'md-arrow-dropdown' }}" item-right></ion-icon>
    </ion-item-divider>

    <ion-item [hidden]="lista_estado[item.id]" *ngFor="let campania of lista_campanias[item.id]" >  
      <ion-label>{{campania.Campania | uppercase }}</ion-label>
      <ion-radio [value]="campania.Campania" (click)="selectCampania(item.Tarifa, campania.Campania)"></ion-radio>
    </ion-item>
  </ion-item-group>

</ion-list>

<button ion-button full class="btn_azul"  (click)="siguiente()" > SIGUIENTE </button>

</ion-content>
