page-selec-usuarios {

    @include gradiente();
    text-align: center;

    .logo_portal{
        text-align: center;
        margin-top: 3%;
        img{
            width: 50%;
        }        
    }
    .box_cotizador{
        @include boxCotizador();
    }
    .titulo{
        color: $azul_claro;
        font-family: $font-emer-bold;
        font-weight: bold;
        font-size: 1.6em;
        padding: 10px 0px;
        margin-top: 7px !important;
    }
    .lista_gris{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;         
        background-color: #cdd3d5;
        ion-item{
            margin-bottom: 5px;
            padding-bottom: 10px;
            border-bottom: 3px inset #a9b1b3;
            ion-label span{
                position: absolute;
                top: 24%;
                left: 24%;                
                color: $azul_claro;
                font-family: $font-emer-regular;
                font-size: 1.3em;
            }
        }
        ion-item:last-of-type{
            border: none;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;             
        }
        .list-header-md, .list-md ion-item-divider {
            border-bottom: 3px inset #a9b1b3;
        }
    }
    .item-md, .item-ios, .item-wp{
        background-color: transparent;
        font-size: 1em;
        height: 45px;
    }
    .btn_azul{
        @include btnAzul();
    }        

    .radio-md .radio-checked {
        border-color: #f4f4f4;
        background-color: #DBE0E1;
    }
    .radio-md .radio-icon{
        width: 25px;
        height: 25px;
    }
    .input-ios .text-input{
       padding: 0px !important;
    }

    .radio-md .radio-inner{
        background-color: #a60a11;
        top: 3px;
        left: 3px;
        width: 15px;
        height: 15px;            
    }  
    .btnUser{
        border-radius: 10px;
        border: 1px solid #b8babb;
        @include gradienteBtnUSer();
        color: #003c72;
        font-weight: bold;
    }
    .inputUser{
        padding-left: 13px;
        text-align:center;
        border: 1px solid #95999a;
        border-radius: 10px;
        font-family: $font-emer-bold;
        @include gradienteInput();
        font-size: 18px;
        color:#003c72;
        font-family: $font-emer-light;        
    }

}
